<%c++ #include "contents/helpers/words.h" %>
<%c++ #include "contents/helpers/paginations.h" %>
<%c++ #include "models/Relations.h" %>
<%c++ #include "models/Words.h" %>
<% skin %>
<% view words_helper uses contents::WordsHelper %>


    <% template word_group() %>
       <% c++ word_group(content.words[0]); %> 
    <% end template %>

    <% template word_group(results::Word word) %>
        <div>
            <% include word_alone(word) %>
        </div>
        <div>
            <% include word_metas(word) %>
        </div>
        <div>
            <% include word_all_translations(word) %>
        </div>
    <% end template %>

    <% template word_alone() %>
        <% c++ word_alone(content.words[0]); %>
    <% end template %>
    <% template word_alone(results::Word word) %>
        <% word.text %> 
    <% end template %>

    <% template word_meanings() %>
        <% c++ word_meanings(content.words[0]); %>
    <% end template %>

    <% template word_meanings(results::Word &word) %>

        <% foreach mapItem in word.meanTransMap %>
            <ul>
            <% item %>
                <li>
                definition:
                <% foreach definition in mapItem.first.defsMap %>
                    <ul>
                    <% item %>
                        <% include flag_img(definition.first) %>                            
                        <% definition.second %>
                    <% end %>
                    <ul>
                <% end foreach %>
                </li>
                <% include add_trans_to_meaning_link(mapItem.first.id, word.id) %>
                <% include delete_meaning_link(mapItem.first.id) %>

            <% end %>
            </ul>        
        <% end foreach %>
    <% end template %>

    <% template add_trans_to_meaning_link(int meaningId, int wordId) %>
        <a href="<% url "/translations/add-to-meaning/{1}/{2}" using meaningId, wordId %>" >
            add translation
        </a>
    <% end template %>

    <% template edit_meaning_link(int meaningId, int wordId) %>
        <a href="<% url "/meanings/show/{1}/{2}" using meaningId, wordId %>" >
            edit
        </a>
    <% end template %>

    <% template delete_meaning_link(int meaningId) %>
        <a href="<% url "/meanings/delete-by-id/{1}" using meaningId %>" >
            <img src="http://sysko.fr/img/icons/remove.png" alt="remove" />
        </a>
    <% end template %>


    <% template word_metas(results::Word &word) %>
        <% foreach meta in word.metas %> 
            <ul>
            <% item %>
                <li>
                    <% meta.first %>
                    :
                    <% meta.second %>
                    <% c++ out() << " "; %>
                    <% include edit_meta_link(word.id, meta.first) %>
                </li>
            <% end %>
            </ul>
            <% empty %>
            No Metas Yet
        <% end %>

    <% end template %>

    <% template edit_meta_link(int wordId, std::string key) %>
        <a href="<% url "/metas/edit/{1}/{2}" using wordId, key %>" >
            edit
        </a>
    <% end template %>

    <% template remove_meta_link(int wordId, std::string key) %>
        <a href="<% url "/metas/remove-from/{1}/{2}" using wordId, key %>" >
            <img src="http://sysko.fr/img/icons/remove.png" alt="remove" />
        </a>
    <% end template %>



    <% template word_all_translations(results::Word &word) %>
        <h4>Definitions</h4>
        <% foreach meaningMapItem in word.meanTransMap %>
            <ol>
            <% item %>
                <li>
                    <% c++ int meaningId = meaningMapItem.first.id; %>
                    <% c++ edit_meaning_link(meaningId, word.id); %>
                    <% c++ remove_meaning_link(meaningId); %>
                    <br /> 
                    <h5>Translations</h5>
                    <% c++ meanings_pack(meaningMapItem.second, word.id, meaningMapItem.first); %>
                    <br />
                    <% c++ add_trans_to_meaning_link(meaningId, word.id); %>
                </li>
                <br />
            <% end %>
            </ol>
            <% empty %>
            No Definition yet
        <% end %><!-- end foreach meaning -->

        <h4>Other Translations</h4>
        <% c++ translations_pack(word.transMap, word.id); %>
    <% end template %>

    <% template add_trans_to_mean_link(int meaningId, int wordId) %>
        <a href="<% url "/translations/add-to-meaning/{1}/{2}" using meaningId, wordId %>" >
            add translation
        </a>
    <% end template %>

    <% template remove_meaning_link(int meaningId) %>
        <a href="<% url "/meanings/delete-by-id/{1}" using meaningId %>" >
            <img src="http://sysko.fr/img/icons/remove.png" alt="remove" />
        </a>
    <% end template %>

    <% template meanings_pack(TransMap transMap, int wordId, results::Meaning meaning) %>
        <% foreach definition in meaning.defsMap %>
            <% item %>
                <% include flag_img(definition.first) %>
                <% definition.second %>
                <% c++ meaning_trans_lang(transMap[definition.first], meaning.id); %>
            <% end %>
        <% end %>
        

    <% end template %>

    <% template meaning_trans_lang(WordsSet &translations, int meaningId) %>
        <% foreach translation in translations %>
            <ul>
            <% item %>
                <li>
                <% c++ show_trans_link( %>
                    <% c++ translation.text, %>
                    <% c++ translation.lang %>
                <% c++ ); %>

                <% c++ remove_translation_from_meaning_link( %>
                    <% c++ translation.id, %>
                    <% c++ meaningId %>
                <% c++ ) ;%>
                </li>
            <% end %>
            </ul>
        <% end foreach %>

    <% end template %>


    <% template translations_pack(TransMap &transMap, int wordId) %>
        <% foreach language in transMap %>
            <% item %>
                <% if (language.second.empty()) %>
                    <% c++ continue; %>
                <% end %>
                <div>
                    <h6><% include flag_img(language.first) %></h6>
                    <% foreach translation in language.second %>
                        <ul>
                        <% item %>
                            <li>
                                <% c++ show_trans_link( %>
                                <% c++     translation.text, %>
                                <% c++     translation.lang %>
                                <% c++ ); %>
                                
                                <% c++ out() << " " ; %>

                                <% c++ remove_translation_from_word_link( %>
                                <% c++     translation.id, %>
                                <% c++     wordId %>
                                <% c++ ) ;%>

                            </li>
                        <% end %>
                        </ul>
                    <% end %><!-- end foreach translation --> 
                </div>
            <% end %>
            <% empty %>
            No translation yet
        <% end %> <!-- end foreach language -->


    <% end template %>

    <% template words_list(std::string title, int size) %>
        <% c++ contents::PaginationsHelper phc( %>
        <% c++ content.words.offset, %>
        <% c++ size, %>
        <% c++ content.words.maxsize, %>
        <% c++ content.baseUrl, %>
        <% c++ content.lang %>
        <% c++ ); %>

        <h3>
            <% title %>
             (Total: <% words.maxsize %> Word(s))
        </h3>
        
        <% c++ pagination_helper ph(out(), phc); %> 
        <% c++ ph.pagination(); %>

        <% foreach word in words %>
            <% item %>
            <div>
                <% include flag_img(word.lang) %>
                <span><%  word.text %></span>
                <% include show_word_link(word.text, word.lang) %>
                <% include edit_word_link(word.id) %>
                <% include delete_word_link(word.id) %>
            </div>
            <% end %>
        <% end foreach %>
    <% end template %>


    <% template flag_img(std::string wordLang) %>
        <img src="http://sysko.fr/img/<% wordLang %>.png" /> 
    <% end template %>

    <% template show_trans_link(std::string str, std::string lang) %>
        <a href="<% url "/words/show-in/{1}/{2}" using str, lang %>" >
            <% str %>
        </a>
    <% end template %>

    <% template remove_translation_from_word_link(int transId, int wordId) %>
        <a href="<% url "/translations/remove/{1}/from/{2}" using transId, wordId %>" >
            <img src="http://sysko.fr/img/icons/remove.png" alt="remove" />
        </a>
    <% end template %>

    <% template remove_translation_from_meaning_link(int transId, int meaningId) %>
        <a href="<% url "/translations/remove/{1}/from-meaning/{2}" using transId, meaningId %>" >
            <img src="http://sysko.fr/img/icons/remove.png" alt="remove" />
        </a>
    <% end template %>


    <% template show_word_link(std::string wordText, std::string wordLang ) %>
        <a href="<% url "/words/show-in/{1}/{2}" using wordText, wordLang %>">
            show
        </a>
    <% end template %>

    <% template edit_word_link() %>
        <% c++ edit_word_link(content.words[0].id); %> 
    <% end template %>

    <% template edit_word_link(int wordId) %>
        <a href="<% url "/words/edit/{1}" using wordId %>">edit</a>
    <% end template %>

    <% template delete_word_link() %>
        <% c++ delete_word_link(content.words[0].id); %> 
    <% end template %>

    <% template delete_word_link(int wordId) %>
        <a href="<% url "/words/delete-by-id/{1}" using wordId %>">
            <img src="http://sysko.fr/img/icons/remove.png" alt="delete" />
        </a>
    <% end template %>

    <% template back_to_word_link() %>
        <% c++ back_to_word_link(content.words[0].text, content.words[0].lang); %>
    <% end template %>

    <% template back_to_word_link(std::string wordText, std::string wordLang) %>
        <a href="<% url "/words/show-in/{1}/{2}" using wordText, wordLang %>" >
            back to word
        </a> 
    <% end template %>



    <% template translate_word_link() %>
        <% c++ translate_word_link(content.words[0].id); %>
    <% end template %>

    <% template translate_word_link(int id) %>
        <% if not empty() %>
            <a href="<% url "/translations/add-to-word/{1}" using id %>" >
                translate
            </a> 
        <% end %>
    <% end template %>

    
    <% template add_meta_link() %>
        <% c++ add_meta_link(content.words[0].id); %>
    <% end template %>

    <% template add_meta_link(int id) %>
        <% if not empty() %>
            <a href="<% url "/metas/add/{1}" using id %>" >
                add meta
            </a> 
        <% end %>
    <% end template %>



    <% template add_meaning_link() %>
        <% c++ add_meaning_link(content.words[0].id); %>
    <% end template %>

    <% template add_meaning_link(int id) %>
        <% if not empty() %>
            <a href="<% url "/meanings/add-to-word/{1}" using id %>" >
                add meaning
            </a> 
        <% end %>
    <% end template %>



<% end view %>
<% end skin %>
