<%c++ #include "contents/homepage.h" %>
<% skin %>
<% view homepage uses contents::Homepage extends master %>
<% template title() %><% gt "Yadict homepage"  %><% end template %>

<% template annexe_content() %>
<% end template %>



<% template main_content() %> 
    <div class="module">
        <a href="<% url "/words/add"%>" >add a new word</a>
        <a href="<% url "/words/show-all"%>" >show all words</a>
        <a href="<% url "/words/show-random"%>" >browse random</a>
    </div>
<% end template %>


<% end view %>
<% end skin %>
