<%c++ #include "contents/meanings.h" %>
<% skin %>
<% view meanings_edit uses contents::MeaningsEdit extends master %>
<% template title() %><% gt "Edit meaning"  %><% end template %>

<% template main_content() %>
    <div class="module">
        <h3>Information about</h3>
        <% if not whc.empty() %>
            <% c++ words_helper wh(out(), content.whc); %>
            <% c++ wh.word_alone(content.whc.words[0]) ;%> 
        <%  else %>
            this word does not exist
        <% end %>

    </div>
    <div class="module">
        <h3>Edit meaning</h3> 
        <% if not whc.empty() %>
            <form method="POST" action="<% url "/meanings/edit-treat" %>" >
                <% form as_p editMeaning %>
            </form>
        <% end %>
    </div>
    <div class="module">
    </div>
<% end %>


<% end view %>
<% end skin %>


