<%c++ #include "contents/words.h" %>
<% skin %>
<% view words_add uses contents::WordsAdd extends master %>
<% template title() %><% gt "Word add"  %><% end template %>

<% template main_content() %>
    <div class="module">
        <form method="POST" action="<% url "/words/add-treat" %>" >
            <% form as_p addWord %>
        </form>
    </div>
    <div class="module">
        <a href="<% url "" %>" >back to homepage</a>
    </div>
<% end %>


<% end view %>
<% end skin %>
