<%c++ #include "contents/words.h" %>
<% skin %>
<% view words_edit uses contents::WordsEdit extends master %>
<% template title() %><% gt "Word edit"  %><% end template %>

<% template main_content() %>
    <div class="module">
        <form method="POST" action="<% url "/words/edit-treat" %>" >
            <% form as_p editWord %>
        </form>
    </div>
    <div class="module">
        <a href="<% url "" %>" >back to homepage</a>
    </div>
<% end %>


<% end view %>
<% end skin %>

