<%c++ #include "contents/words.h" %>
<%c++ #include "contents/helpers/lang_filters.h" %>
<% skin %>
<% view words_show_all uses contents::Words extends master %>
<% template title() %><% gt "Show all words"  %><% end template %>

<% template main_content() %>
    <div class="module">
        <% if not whc.empty() %>
            <% c++ words_helper wh(out(), content.whc); %>
            <% c++ wh.words_list("All words", content.paginationSize) ;%> 
        <% else %>
            No words in the database yet
        <% end %>
    </div>
    <div class="module">
        <h3>Some links</h3>
        <a href="<% url "/words/add"%>" >add a new word</a>
        <a href="<% url "" %>" >back to homepage</a>
    </div>
<% end %>

<% template annexe_content() %>
    <div class="module">
        <% c++ contents::LangsFiltersHelper lfhc("/words/show-all-langs-filter-treat"); %>
        <% c++ lfhc.lang = content.lang ;%>
        <% c++ langs_filter_helper lfh(out(), lfhc); %>
        <% c++ lfh.langs_filter() ;%> 
    </div>
<% end %>

<% end view %>
<% end skin %>
