<%c++ #include "contents/words.h" %>
<% skin %>
<% view words_show uses contents::WordsShow extends master %>
<% template title() %><% gt "Word show"  %><% end template %>

<% template main_content() %>
    <div class="module">
        <h3>Information about <% wordStr %></h3>
        <% c++ words_helper wh(out(), content.whc); %>
        <% if not whc.is_empty() %>
            <% c++ wh.word_group() ;%> 
        <% else %>
            this word does not exist
        <% end %>
    </div>
    <div class="module">
        <h3>Some links</h3>
        <% c++ wh.translate_word_link() ;%> 
        <% c++ out() << " " ;%>
        <% c++ wh.add_meta_link() ;%> 
        <% c++ out() << " " ;%>
        <% c++ wh.add_meaning_link() ;%> 
        <% c++ out() << " " ;%>
        <a href="<% url "/words/show-random"%>" >browse random</a>
        <a href="<% url "" %>" >back to homepage</a>
    </div>
<% end %>


<% end view %>
<% end skin %>
