<%c++ #include "contents/words.h" %>
<% skin %>
<% view words_show uses contents::Words extends master %>
<% template title() %><% gt "Word show"  %><% end template %>

<% template main_content() %>
    <div class="module">
        <% c++ words_helper wh(out(), content.whc); %>
        <% if not whc.is_empty() %>
            <% c++ wh.word_group() ;%> 
        <% else %>
            this word does not exist
        <% end %>
    </div>
    <div class="module">
        
        <% c++ wh.translate_word_link() ;%> 
        <a href="<% url "/words/show-random"%>" >browse random</a>
        <a href="<% url "" %>" >back to homepage</a>
    </div>
<% end %>


<% end view %>
<% end skin %>
