<%c++ #include "contents/words.h" %>
<% skin %>
<% view words_show_all uses contents::Words extends master %>
<% template title() %><% gt "Show all words"  %><% end template %>

<% template main_content() %>
    <div class="module">
        <% c++ if(content.fetcher->items[0] != NULL) { %>
            <% c++ for(int i = 0; i < content.fetcher->size ; i++) { %>
                <% c++ int id = content.fetcher->items[i]->id ; %>
                <% c++ std::string str = std::string(content.fetcher->items[i]->str) ; %>
                <div>
                    <span><% c++ out() << id ;%></span> 
                    <span><% c++ out() << str ;%></span>
                    <span><% c++ out() << content.fetcher->items[i]->lang->code ;%></span> 
                    <a href="<% url "/words/show/" %><% c++ out() << str; %>">show</a>
                    <a href="<% url "/words/edit/" %><% c++ out() << id; %>">edit</a>
                    <a href="<% url "/words/delete-by-id/" %><% c++ out() << id; %>">delete</a>
                </div>
            <% c++ } %>
        <% c++ } else { %>
            No words in the database yet
        <% c++ } %>
        <% c++ tato_hyper_item_fetcher_free(content.fetcher); %>
    </div>
    <div class="module">
        <a href="<% url "/words/add"%>" >add a new word</a>
        <a href="<% url "" %>" >back to homepage</a>
    </div>
<% end %>


<% end view %>
<% end skin %>
