<%c++ #include "contents/translations.h" %>
<% skin %>
<% view translations_add_to uses contents::TranslationsAdd extends master %>
<% template title() %><% gt "Add translation"  %><% end template %>

<% template main_content() %>
    <div class="module">
        <h3>Add Translation</h3> 
        <% c++ if(!content.whc.is_empty()) { %>
            <% c++ words_helper wh(out(), content.whc); %>
            <% c++ wh.word_group() ;%> 
        <% c++ } else { %>
            this word does not exist
        <% c++ } %>

    </div>
    <div class="module">
        <h5>Add Translation</h5>
        <% c++ if(!content.whc.is_empty()) { %>
            <form method="POST" action="<% url "/translations/add-to-word-treat" %>" >
                <% form as_p addTranslation %>
            </form>
        <% c++ } %>
    </div>
    <div class="module">
        <h3>Some links</h3>
        <a href="<% url "/words/show-random"%>" >browse random</a>
        <a href="<% url "" %>" >back to homepage</a>
    </div>
<% end %>


<% end view %>
<% end skin %>

