<% c++ #include "contents/content.h" %>
<% skin %>
<% view master uses contents::BaseContent %>


<% template body() %>
    <div id="main_content">
        <% include main_content()%>
    </div>
    <div id="annexe_content">
	    <% include annexe_content() %>
    </div>
<% end %>



<% template header() %>
<title><% include title() %></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link
    href="http://sysko.fr/shdict_css/default.css"
    rel="stylesheet"
    type="text/css"
/>
<!--
/>
-->
<% end template %>


<% template render() %>
<!DOCTYPE HTML>
<html>
<head>
<% include header() %>
</head>
<body>
		<div id="header">
		</div>
		<div id="container">
				<% include body() %>
		</div>
		<div id="footer">
                <% include footer() %>
		</div>
	</div>
</body>
</html>
<% end template %>

<% template title() %>you're not supposed to view this<% end template %>


<% template annexe_content() %>
    <div class="module">
        you're not supposed to view this
    </div>
<% end template %>


<% template main_content() %>
    <div class="module">
        you're not supposed to view this
    </div>
<% end template %>

<%template footer() %>
    <a 
        rel="license"
        href="http://creativecommons.org/licenses/by/3.0/"
    >
        <img 
            alt="Creative Commons License"
            style="border-width:0"
            src="http://i.creativecommons.org/l/by/3.0/88x31.png" 
        />
    </a>
    <br />
    This work is licensed under a
    <a 
        rel="license"
        href="http://creativecommons.org/licenses/by/3.0/"
    >
        Creative Commons Attribution 3.0 Unported License
    </a>.
<% end template %>


<% end view %>
<% end skin %>

